@media (max-width: 1150px) {
    .page-container > .content-wrapper {
        width: 1000px;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 900px;
    }
}

@media (max-width: 980px) {
    .page-container > .content-wrapper {
        width: 1000px;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 800px;
    }

    .hero-section > .top-heading {
        width: 300px
    }

    .hero-section > .top-heading h1 {
        font-size: 1.5em;
    }

    .hero-section > .bottom-heading {
        width: 250px
    }

    .hero-section > .bottom-heading h3 {
        font-size: 0.8em;
    }

    .features-section > .columns-wrapper > .column :nth-child(1) {
        font-size: 2.5em;
    }
    
    .features-section > .columns-wrapper > .column :nth-child(2) {
        font-size: 1em;
        font-weight: 700;
    }

    .features-section > .columns-wrapper > .column :nth-child(3) {
        font-size: 0.88em;
    }

    .page-container {
        margin: 0px 20px;
    }
}

@media (max-width: 850px) {

    .page-container > .content-wrapper {
        width: 700px;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 700px;
    }

    .links-wrapper > .nav-link a {
        font-size: 0.7em;
    }
}

@media (max-width: 750px) {

    .page-container > .content-wrapper {
        width: 700px;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 600px;
    }

    .links-wrapper > .nav-link a {
        font-size: 0.5em;
    }
}

@media (max-width: 615px) {

    .page-container > .content-wrapper {
        width: 500px;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 500px;
    }

    .links-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .links-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;
    }

    .hero-section {
        padding: 50px 10px;
    }

    .features-section {
        height: 100%;
    }

    .features-section > .columns-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .footer {
        height: 100%;
    }

    .footer > .logo-footer img {
        margin-top: 10px;
        width: 80px;
        height: 100%;
    }

    .links-wrapper {
        align-items: center;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;
    }

    .content-wrapper > #feature {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
    }

    .square {
        grid-template-columns: 1fr !important;
    }

    .square > .square-text-wrapper {
        order: 1;
    }

    .square > .img-wrapper {
        order: 2;
    }

    .contact-grid-wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .form input {
        padding: 1.5rem 0rem;
    }

    .form textarea {
        padding: 1.5rem 0rem;
    }
}

@media (max-width: 385px) {
    .skewed-header-content > .links-wrapper > .nav-link {
        margin-top: 8px;
        margin-bottom: 0;
    }
}