@media (max-width: 1150px) {

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 900px;
    }
}

@media (max-width: 980px) {

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 800px;
    }

    .hero-section > .top-heading {
        width: 300px
    }

    .hero-section > .top-heading h1 {
        font-size: 1.5em;
    }

    .hero-section > .bottom-heading {
        width: 250px
    }

    .hero-section > .bottom-heading h3 {
        font-size: 0.8em;
    }

    .features-section > .columns-wrapper > .column :nth-child(1) {
        font-size: 2.5em;
    }
    
    .features-section > .columns-wrapper > .column :nth-child(2) {
        font-size: 1em;
        font-weight: 700;
    }

    .features-section > .columns-wrapper > .column :nth-child(3) {
        font-size: 0.88em;
    }

    .page-container {
        margin: 0px 20px;
    }
}

@media (max-width: 850px) {

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 700px;
    }

    .links-wrapper > .nav-link a {
        font-size: 0.7em;
    }
}

@media (max-width: 750px) {

    .hero-section {
        background-attachment: scroll;
    }

    .features-section > .columns-wrapper {
        width: 100%;
        height: 100%;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 600px;
    }

    .links-wrapper > .nav-link a {
        font-size: 0.5em;
    }
}

@media (max-width: 615px) {

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        width: 500px;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
        padding: 0;
    }

    .links-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .links-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 1.5em;
        width: 100%;
    }

    .hero-section {
        padding: 50px 10px;
    }

    .features-section {
        height: 100%;
    }

    .features-section > .columns-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .footer {
        height: 100%;
    }

    .footer > .logo-footer img {
        margin-top: 10px;
        width: 80px;
        height: 100%;
    }

    .links-wrapper {
        align-items: center;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;
    }

    .content-wrapper > #feature {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
    }

    .square {
        grid-template-columns: 1fr !important;
    }

    .square > .square-text-wrapper {
        order: 1;
    }

    .square > .img-wrapper {
        order: 2;
    }

    .contact-grid-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin: 0;
    }

    .contact-grid-wrapper > .company-metadata-sidebar-wrapper > .logo {
        display: flex;
        justify-content: center;
    }

    .company-metadata-sidebar-wrapper > .company-details-wrapper {
        justify-content: center;
    }

    .company-metadata-sidebar-wrapper > .company-details-wrapper i {
        margin-right: 10px;
    }

    .company-metadata-sidebar-wrapper > .logo img {
        width: 150px;
        height: 100%;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form input {
        padding: 1.5rem 0rem;
        width: 100%;
    }

    .form textarea {
        padding: 1.5rem 0rem;
        width: 100%;
    }
}

@media (max-width: 425px) {

    .skewed-header {
        height: 300px;
    }

    .skewed-header-content > .links-wrapper > .nav-link {
        margin-top: 6px;
        margin-bottom: 0;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
        font-size: 0.92em;
    }
}

@media (max-width: 375px) {

    .skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
        width: 100px;
        font-size: 0.5em;
    }
}