.nav_logo {
    width: 80px;
    height: 100%;
}

.links-wrapper {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    text-align: center;
}

.links-wrapper > .nav-link a {
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
    color: #0079ED;
    letter-spacing: 1px;
}

.nav-link a {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.5s;
}

.nav-link a:hover {
    color: #0079ED;
    letter-spacing: 1px;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-hours-wrapper {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.phone {
    margin-left: 10px;
    text-decoration: none !important;
}

.hours {
    margin-left: 5px;
}

.address-wrapper {
    display: flex;
}

.address-wrapper a {
    color: #fff;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.5s;
}

.contact-icon i {
    margin-right: 10px;
}

.address-wrapper a:hover {
    color: #0079ED;
}